@import "tailwindcss";

/* Rich Text Editor Styles */
.ProseMirror {
  min-height: 200px;
  outline: none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror pre {
  background: #0D0D0D;
  color: #FFF;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
}
